@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body,
html {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.container-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: white;
  border-radius: 30px;
  padding: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
}
body[data-scroll-locked][data-scroll-locked] {
  overflow: auto !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.lucide {
  flex-shrink: 0;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Styling for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #10b981; /* Green color */
  border-radius: 10px; /* Rounded corners */
}

/* Styling for the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray background */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Styling for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #10b981; /* Green color */
  border-radius: 10px; /* Rounded corners */
}

/* Styling for the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray background */
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Styling for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #10b981; /* Green color */
  border-radius: 10px; /* Rounded corners */
}

/* Styling for the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray background */
}

/* .rdp-vhidden {
  @apply hidden;
} */
.rdp {
  @apply min-w-60;
  @apply flex justify-between items-center;
}

.alert {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s, transform 0.5s;
}

.alert.show {
  opacity: 1;
  transform: translateY(0);
}

.progress-bar {
  transition: width 0.1s ease; /* Smooth transition for width changes */
}

@keyframes scan-line {
  0% {
      transform: translateY(-5rem);
  }
  50% {
      transform: translateY(5rem);
  }
  100% {
      transform: translateY(-5rem);
  }
}

.animate-scan-line {
  animation: scan-line 3s linear infinite;
}

/* Custom scrollbar for Navigation component */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3dc799;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b8babc;
}

/* Topbar shadow */
.topbar-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}


/* .rdp-vhidden {
    @apply hidden;
} */
.rdp {
  @apply min-w-60;
  @apply flex items-center justify-between;
}

.iframe-container {
  .square {
    width: 400px;
    height: 400px;
    border: 4px solid #d5d9e2;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .square > .icon {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.alert {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.5s,
    transform 0.5s;
}

.alert.show {
  opacity: 1;
  transform: translateY(0);
}

.progress-bar {
  transition: width 0.1s ease; /* Smooth transition for width changes */
}

@keyframes scan-line {
  0% {
    transform: translateY(-5rem);
  }
  50% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(-5rem);
  }
}

.animate-scan-line {
  animation: scan-line 3s linear infinite;
}

.debug {
  border: 1px solid red;
}

.debug > * {
  border: 1px solid blue;
}

.debug > * > * {
  border: 1px solid green;
}

.leaflet-container {
  height: 100vh;
  width: 100wh;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
